<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .row {
            height: 50%;
        }
        .col {
            height: 100%;
            overflow-y: scroll;
        }
    </style>
    <script>
        function showText(radio) {
            if (radio.value === "original") {
                document.getElementById("original_text").style.display = "block";
                document.getElementById("summary_text").style.display = "none";
            } else {
                document.getElementById("original_text").style.display = "none";
                document.getElementById("summary_text").style.display = "block";
            }
        }
    </script>
</head>
<body>
{% load custom_filters %}
    <nav>
        <h1>{{ summary.title }}</h1>
        <p>작성일: {{ summary.created_at }}</p>
        <p>수정일: {{ summary.updated_at }}</p>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Video</h2>
                {% if summary.file %}
                    <video id="uploadVideo" width="100%" height="100%" controls>
                        <source src="{{ MEDIA_URL }}{{ summary.file }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% elif summary.youtube_url %}
                <div id="youtube-player">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ summary.youtube_url|get_youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}
                <h2>Timeline</h2>
                <div>
                  <span t="1.0">예제 텍스트 1</span>
                  <span t="2.0">예제 텍스트 2</span>
                  <span t="20.0" data-lexical-text="true" style="" onclick="seekToTimestamp('20.0');">예제 텍스트 3</span>
                    <pre>{{ summary.timeline_text|add_timestamp_links }}</pre>
                </div>

            </div>
            <div class="col">
                <h2>원문 / 요약 내용 선택</h2>
                <input type="radio" id="original_radio" name="text_type" value="original" onclick="showText(this)" checked>
                <label for="original_radio">원문</label>
                <input type="radio" id="summary_radio" name="text_type" value="summary" onclick="showText(this)">
                <label for="summary_radio">요약 내용</label>

                <div id="original_text" style="display: block;">
                    <h2>원문</h2>
                    <p>{{ summary.original_text }}</p>
                </div>
                <div id="summary_text" style="display: none;">
                    <h2>요약 내용</h2>
                    <p>{{ summary.summary_text }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <h2>메모</h2>
                    <textarea name="note" rows="5" cols="40">{{ summary.note }}</textarea><br>
                    <input type="submit" value="변경 사항 저장">
                </form>
            </div>
            <div class="col">
                <a href="{% url 'summary_delete' summary.id %}" class="btn btn-danger btn-sm" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
                <a href="{% url 'summary_list' %}" class="btn btn-secondary btn-sm">목록으로 돌아가기</a>
            </div>
        </div>
    </div>
<script>
  // 유튜브 API를 비동기적으로 로드합니다.
    if ('{{ summary.youtube_url }}') {
      const tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      const firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }

  // 작성된 글자를 클릭할 때 호출되는 함수입니다.
    function seekToTimestamp(time) {
      if (player && typeof player.seekTo === "function") {
        player.seekTo(time, true);
      } else if (video) {
        video.currentTime = time;
      }
    }

  // 영상 시간에 따라 자막 색상을 변경하는 함수를 작성하고, 이 함수를 비디오의 'timeupdate' 이벤트 리스너에 연결

  function updateCaptionColor() {
  let currentTime;

  if (player && typeof player.getCurrentTime === "function") {
    currentTime = player.getCurrentTime();
  } else if (video) {
    currentTime = video.currentTime;
  } else {
    return;
  }

  const captionSpans = document.querySelectorAll('[data-lexical-text]');
    console.log("updateCaptionColor called, current time: ", currentTime);
    captionSpans.forEach((span, index) => {
      const spanTime = parseFloat(span.getAttribute('t'));
      console.log(spanTime); // 현재 spanTime 값을 콘솔에 출력

      let nextSpanTime;

      if (index + 1 < captionSpans.length) {
        nextSpanTime = parseFloat(captionSpans[index + 1].getAttribute('t'));
      } else {
        nextSpanTime = Infinity; // 마지막 span이므로 끝 시간을 무한대로 설정
      }

      if (currentTime >= spanTime && currentTime < nextSpanTime) {
        span.style.backgroundColor = 'red';
      } else {
        span.style.backgroundColor = '';
      }
    });
  }



  //   data-lexical-time 속성이 있는 글자를 클릭하면 해당 시간대로 비디오를 이동시키는 코드
  document.querySelectorAll('[data-lexical-time]').forEach((span) => {
    span.addEventListener('click', () => {
      const timestamp = span.getAttribute('data-lexical-time');
      seekToTimestamp(parseTimestamp(timestamp));
    });
  });

  // "핏"과 같은 형식으로 작성된 글자에서 시간대를 파싱하는 함수입니다.
  function parseTimestamp(timestamp) {
    const parts = timestamp.split(':');
    const hours = parseInt(parts[0]);
    const minutes = parseInt(parts[1]);
    const seconds = parseFloat(parts[2].replace(',', '.'));
    return hours * 3600 + minutes * 60 + seconds;
  }

  let player;
  let video;

    // 유튜브 API에서 로드되면 호출되는 함수입니다.
    function onYouTubeIframeAPIReady() {
      const youtubeId = '{{ summary.youtube_url|get_youtube_id }}';
      if (youtubeId) {
        player = new YT.Player('youtube-player', {
          height: '360',
          width: '640',
          videoId: youtubeId, // 재생할 유튜브 비디오의 ID를 입력합니다.
          events: {
        'onReady': onVideoLoaded,
      }
        });
      }
    }


   //
// 비디오가 로드된 후 호출되는 함수입니다.
function onVideoLoaded() {
  setInterval(updateCaptionColor, 100); // 0.1초마다 updateCaptionColor() 함수를 호출합니다.
  console.log('onVideoLoaded called');
}
    // HTML5 비디오를 초기화합니다.

    document.addEventListener('DOMContentLoaded', function() {
      video = document.getElementById('uploadVideo');
      video.addEventListener('loadedmetadata', onVideoLoaded); // 비디오가 로드된 후에 onVideoLoaded() 함수를 호출합니다.
      video.addEventListener('error', function() {
        console.log('Error loading video'); // 에러가 발생한 경우 콘솔에 메시지를 출력합니다.
      });
    });
</script>

</body>
</html>
